$color-main: #fed700;
$color-secondary: #232f3e;

/* ------------------------------------------------ */

$font-main: "Roboto", sans-serif;

/* ------------------------------------------------ */

$mobile-width: "min-width: 576px";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";

/* ------------------------------------------------ */

$retina: "min-resolution: 144dpi";
$retina2: "min-resolution: 1.5dppx";
