.content {
  padding-top: 20px;
  width: 100%;
  .big-banner {
    margin-bottom: 30px;
    div {
      width: 280px;
      margin-bottom: 5px;
    }
    img {
      max-width: 669px;
      max-height: 200px;
    }
  }
  .full-banner {
    margin-bottom: 30px;
  }
  .small-banner {
    display: none;
  }
  .slider1 {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  &__item {
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 20px;
    &-wpapper {
      padding: 20px;
      border: 1px solid #cccccc;
    }
    &-title {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      margin: 0;
    }
    &-row {
      display: flex;
      align-items: center;
    }
    &-button {
      border: 0;
      background-color: $color-main;
      border-radius: 90px;
      padding: 10px 25px;
      font-weight: bold;
      margin-right: auto;
      &:hover {
        background-color: $color-secondary;
        color: $color-main;
        transition: 0.3s;
        outline: none;
      }
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  i {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &:hover {
      color: $color-main;
    }
  }
  &__price {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    i {
      font-size: 16px;
    }
  }
  &__about {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  &__partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-item {
      margin-bottom: 30px;
      max-width: 150px;
      display: block;
    }
  }
}
@media ($mobile-width) {
  .content {
    .big-banner {
      div {
        width: 536px;
        margin-bottom: 5px;
      }
      img {
        max-width: 669px;
        max-height: 200px;
      }
    }
  }
}
@media ($tablet-width) {
  .content {
    padding-left: 20px;
    max-width: 510px;
    .big-banner {
      div {
        width: 490px;
        margin-bottom: 5px;
      }
      img {
        max-width: 669px;
        max-height: 200px;
      }
    }
    &__item {
      &-title {
        min-height: 57px;
      }
    }
    &__partners {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}
@media ($desktop-width) {
  .content {
    max-width: 919px;
    .big-banner {
      margin-bottom: 50px;
      div {
        width: 669px;
        height: 250px;
        margin-bottom: 20px;
      }
      img {
        max-width: 669px;
        max-height: 250px;
        width: 669px;
        height: 250px;
      }
    }
    .small-banner {
      display: block;
      width: 208px;
      margin-left: auto;
      &__item {
        padding: 20px;
        padding-top: 30px;
        border: 1px solid #cccccc;
        height: 250px;
        position: relative;
        margin-bottom: 20px;
        &::after {
          content: 'Товар дня!';
          position: absolute;
          background-color: red;
          top: -1px;
          left: -1px;
          font-size: 13px;
          padding: 3px 14px;
          font-weight: 700;
          color: #fff;
        }
        &-title {
          font-size: 14px;
          margin: 0;
          text-align: center;
          margin-bottom: 140px;
        }
        img {
          position: absolute;
          z-index: -1;
          top: 45px;
          left: 50%;
          margin-left: -93px;
        }
      }
    }
    .full-banner {
      margin-bottom: 50px;
      margin-top: 10px;
    }
    &__item {
      &-wpapper {
        padding: 30px;
        padding-left: 25px;
        padding-right: 25px;
      }
      img {
        width: 185px;
        height: 185px;
      }
      &-title {
        min-height: 38px;
      }
    }
    &__about {
      margin-bottom: 60px;
    }
    &__partners {
      margin-top: 40px;
      margin-bottom: 40px;
      &-item {
        margin: 0;
      }
    }
  }
  .slider1:hover .owl-nav {
    display: flex !important;
  }
  .owl-stage-outer {
    //padding-left: 1px;
  }
}
