.content {
padding-top: 20px;
  .big-banner {
    div {
      width: 280px;
      margin-bottom: 5px;
    }
    img {
      max-width: 669px;
      max-height: 200px;
    }
  }
}
@media ($mobile-width) {
  .content {
    .big-banner {
      div {
        width: 536px;
        margin-bottom: 5px;
      }
      img {
        max-width: 669px;
        max-height: 200px;
      }
    }
  }
}
@media ($tablet-width) {
  .content {
    padding-left: 20px;
    .big-banner {
      div {
        width: 490px;
        margin-bottom: 5px;
      }
      img {
        max-width: 669px;
        max-height: 200px;
      }
    }
  }
}
@media ($desktop-width) {
  .content {
    .big-banner {
      div {
        width: 669px;
        margin-bottom: 5px;
      }
      img {
        max-width: 669px;
        max-height: 200px;
      }
    }
  }
}
