.page-category {
  &__title {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__all {
    font-size: 14px;
    color: #7f7f7f;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 20px;
  }
  &__inner {
    width: 100%;
    @include clearfix;
  }
  &__content {
    .main__title {
      i {
        color: #CCCCCC;
        font-size: 20px;
        margin-right: 10px;
      }
      i.open {
        color: $color-secondary;
      }
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &-btn {
      display: none;
    }
  }
  &__sub-nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__nav-block {
    display: flex;
    &:last-child {
      margin-right: 0;
    }
    &:nth-of-type(2) {
      margin-left: 0;
      margin-right: auto;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      text-transform: none;
      color: #7f7f7f;
      margin-right: 10px;
    }
    select {
      border: 0;
      font-size: 14px;
      outline: none;
    }
  }
  &__content-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    .content__item {
      max-width: 258px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 281px;
    }
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {
  .page-category {
    &__content-items {
      .content__item {
        margin-left: 0;
        margin-right: 0;
        width: 235px;
      }
    }
    &__nav-block {
      display: flex;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media ($desktop-width) {
  .page-category {
    &__nav {
      &-btn {
        display: flex;
      }
    }
    &__content-items {
      .content__item {
        width: 258px;
      }
      &--list {
        .content__item {
          width: 100%;
          max-width: 100%;
          margin-bottom: 10px;
          .content__item-wpapper {
            display: flex;
            align-items: center;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            padding-bottom: 10px;
            padding-top: 10px;
          }
          img {
            order: 1;
            margin: 0;
            width: 120px;
            height: 120px;
            margin-right: auto;
          }
          .content__descr-block {
            order: 2;
            max-width: 479px;
            margin-left: auto;
          }
          .content__item-descr {
            display: block;
            font-size: 14px;
            margin: 0;
          }
          .content__item-title {
            font-weight: bold;
            text-align: left;
          }
          .content__block-price {
            order: 3;
            margin-right: 0;
            margin-left: auto;
            width: 185px;
            padding-bottom: 20px;
          }
          .content__price {
            text-align: right;
            font-size: 24px;
            line-height: 5px;
          }
        }
      }
    }
    &__nav-block {
      &:nth-of-type(2) {
        margin-right: 50px;
        margin-left: auto;
      }
    }
  }
}
