.user {
  width: 100%;
  display: flex;
  align-items: center;
  i {
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    width: 45px;
    &:hover {
      color: $color-main;
    }
  }
  a {
    color: #fff !important;
    text-decoration: none;
  }
  &__cart {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    width: 52px;
    height: 52px;
    border-radius: 90px;
    background-color: $color-main;
    position: relative;
    margin-left: auto;
    i {
      font-size: 26px;
      line-height: 31px;
      color: $color-secondary;
    }
    &:hover {
      a {
        color: $color-secondary;
      }
      transition: 0.3s;
      background-color: #fff;
    }
  }
  &__price {
    margin: 0;
    font-size: 16px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    span {
      font-size: 14px;
      line-height: 17px;
      color: $color-main;
    }
    span.desktop-inline {
      font-size: 16px;
      line-height: 19px;
      color: #fff;
    }
    i {
      font-size: 14px;
      line-height: 17px;
      width: 12px;
      color: $color-main;
    }
  }
  &__cabinet {
    display: none;
  }
}

.userCounter {
  position: absolute;
  right: -15px;
  top: 0;
  font-size: 14px;
  line-height: 17px;
  width: 25px;
  min-height: 25px;
  background-color: #FFFFFF;
  border-radius: 90px;
  font-weight: 700;
  padding-top: 4px;
  color: $color-secondary;
}

@media ($mobile-width) {
  .user {
    width: 232px;
    margin-left: auto;
    &__cart {
      margin-left: 0;
    }
  }
}

@media ($tablet-width) {
  .user {
    width: 350px;
    order: 2;
    margin-left: auto;
    &__price {
      margin-left: auto;
    }
    &__cabinet {
      display: block;
      &-list {
        @include reset-ul;
        width: 180px;
        margin-left: 20px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
        border-style: solid;
        border-width: 1px;
        border-color: #F5F5F5;
        padding: 20px;
      }
      &-item {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          font-size: 14px;
          color: $color-secondary;
          &:hover {
            color: $color-main;
          }
        }
      }
    }
  }
}
@media ($desktop-width) {
  .user {
    &__cabinet {

      &-list {
        width: 281px;
        padding-top: 25px;
        padding-bottom: 25px;
      }
      &-item {
        margin-bottom: 12px;
        padding-bottom: 12px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}
